extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .centered
    p Welcome to the Global Vivillon Trade Station!
    p Find users with the Vivillons you've been looking for!

  .registration
    h3 Register
    form(action='/register' method='post')
      input#registerTimeOffsetInput.displayNone(type='number' name='timeOffset')
      input#registerTimezoneAbbrInput.displayNone(type='text' name='timezoneAbbr')
      .regInfo
        .form-group#ign
          input.form-control#registerIgnInput(type='text' name='ign' placeholder="In-Game Name" required)
        .form-group#fc
          input.form-control#registerFcInput(name='fc' placeholder="Friend Code" required)
        .form-group#nativePattern
          select#selectNativePattern(name='nativePattern' required)
            option Native pattern
            option(disabled='disabled') ------------
            each name in names
              option= name
        .form-group#password
          input.form-control#registerPasswordInput(type='password' name='password' placeholder="Password" required)
        .form-group#passConfirm
          input.form-control#registerPasswordConfirmInput(type='password' name='passwordConfirm' placeholder="Confirm Password" required)
      .form-group#offering
            label I'm offering <span>(At least one)</span>
            .form-vivillon-list#offering-list
              select.image-picker#registerOfferingInput(multiple="multiple" name="offering" required)
                each name in names
                  option(data-img-src="/images/"+name+".png")=name
      .form-group#want
        label I'm looking for <span>(At least one, or check off the box)</span>
        div
          input#somethingElseCheckbox(name='somethingElse' type='checkbox' value='somethingElse')
          label#somethingElseText(for='somethingElseCheckbox') I (also) want Pokémon or items other than Vivillons that I'll specify later in my status
        .form-vivillon-list#want-list
          select.image-picker#registerLookingForInput(multiple="multiple" name="lookingFor")
            each name in names
              option(value=name data-img-src="/images/"+name+".png")=name
      button#registerButton(type='submit') Register


  .login#login
    .flashMessage= flash
    h3 Log In
    form(action='/login' method='post')
      input#loginTimeOffsetInput.displayNone(type='number' name='timeOffset')
      input#loginTimezoneAbbrInput.displayNone(type='text' name='timezoneAbbr')
      .form-group#loginFc
        input.form-control#loginFcInput(type='text' name='fc' placeholder='Friend Code' required)
      .form-group#loginPassword
        input.form-control#loginPasswordInput(type='password' name='password' placeholder='Password' required)
      button#loginButton(type='submit') Log in

  hr.bigHr

  .content
    h2.centered Recent users
    each user in users
      .userInfo
        .topbar
          .userIgn= user.ign
          .userFc= user.fc
        .vivillonLists
          .userOffering
            p Offering
            each offering in user.offering
              img.smallVivillon(src='/images/#{offering}.png' title='#{offering}')
          hr
          .userLookingFor
            p Looking for
            if (user.lookingFor && user.lookingFor.length)
              each lookingFor in user.lookingFor
                img.smallVivillon(src='/images/#{lookingFor}.png' title='#{lookingFor}')
            if (user.somethingElse)
              ul
                li Pokémon or items other than Vivillons
