extends layout

block content
  p Welcome to the Global Vivillon Trade Station!
  .content
    each user in users
      .userli
        .userFc= user.fc
        .userIgn= user.ign
        .userOffering
          p Offering
          each offering in user.offering
            img(src='/images/#{offering}.png' title='#{offering}')
        .userLookingFor
          p Looking for
          each lookingFor in user.lookingFor
            img(src='/images/#{lookingFor}.png' title='#{lookingFor}')

  .registration
    p Register
    form(action='/register' method='post')
      .form-group#ign
        label In-game Name
        input.form-control(type='text' name='ign' required)
      .form-group#fc
        label Friend Code
        input.form-control(type='text' name='fc' required)
      .form-group#password
        label Password
        input.form-control(type='password' name='password' required)
      .form-group#password
        label Confirm password
        input.form-control(type='password' name='passwordConfirm' required)
      .form-group#offering
            label I'm offering
            .form-vivillon-list#offering-list
              select.image-picker(multiple="multiple")
                each name in names
                  option(data-img-src="/images/"+name+".png" value=name)=name
      .form-group#want
        label I'm looking for
        .form-vivillon-list#want-list
          select.image-picker(multiple="multiple")
            each name in names
              option(data-img-src="/images/"+name+".png" value=name)=name
      button#registerButton(type='submit') Register


  .login
    p Log In
    form(action='/login' method='post')
      .form-group#loginFc
        label Friend Code
        input.form-control(type='text' name='fc' required)
      .form-group#loginPassword
        label Password
        input.form-control(type='password' name='password' required)
      button#registerButton(type='submit') Log In