extend layout

block head
  link(rel='stylesheet', href='/stylesheets/update.css')
  script(src='/libs/timezonepicker/lib/jquery.maphilight.min.js')
  script(src='/libs/timezonepicker/lib/jquery.timezone-picker.min.js')
  script(src='/javascripts/timezone_map.js')

block content
  h2 Update your info!

  form(action='/update' method='post')

    .status
      p Status:
      textarea#statusTextarea(name="status" placeholder="When will you be online? Are you looking for particular stats/moves/balls, or something other than Vivillons?")= user.status

    .nativePattern
      p Native pattern:
      select#selectNativePattern(name='nativePattern' required)
        option Native pattern
        option(disabled='disabled') ------------
        each name in names
          if (name == user.nativePattern)
            option(selected='selected')= name
          else
            option= name

    .timezone
      p Timezone:
      
      include timezone

    .offering
      p Currently offering:
      .form-vivillon-list
        select.image-picker#offeringList(multiple="multiple" name="offering" required)
          each name in names
            if (user.offering.indexOf(name) != -1)
              option(data-img-src="/images/"+name+".png" selected="selected")=name
            else
              option(data-img-src="/images/"+name+".png")=name

    .want
      p Currently looking for:
      .form-vivillon-list
        select.image-picker#lookingForList(multiple="multiple" name="lookingFor")
           each name in names
            if (user.lookingFor.indexOf(name) != -1)
              option(data-img-src="/images/"+name+".png" selected="selected")=name
            else
              option(data-img-src="/images/"+name+".png")=name
        div
          if (user.somethingElse)
            input#somethingElseCheckbox(name='somethingElse' type='checkbox' value='somethingElse' checked='checked')
          else
            input#somethingElseCheckbox(name='somethingElse' type='checkbox' value='somethingElse')
          label#somethingElseText(for='somethingElseCheckbox') I (also) want Pokémon or items other than Vivillons specified in my status
    .centered.buttons
      button#updateButton(type='submit') Update
      button(type='button' onclick="location.href ='/'") Cancel