extends layout

block head
  link(rel='stylesheet' href='/stylesheets/user.css')

block content
  .userInfo
    .topbar(fc='#{user.fc}' class='#{user.sockets.length ? "userOnline" : ""}')
      .selfIgn= user.ign
      .selfFc= user.fc
      .selfNativePattern Native: #{user.nativePattern}
      if (user.timeOffset)
        .selfTimezone= timeString
    .vivillonLists
      if (user.status)
        .userStatus
          p Status
          p= user.status
        hr
      .userOffering.selfOffering
        p Offering
        each offering in user.offering
          img(src='/images/#{offering}.png' title='#{offering}')
      hr
      .userLookingFor.selfLookingFor
        p Looking for
        if (user.lookingFor && user.lookingFor.length)
          each lookingFor in user.lookingFor
            img(src='/images/#{lookingFor}.png' title='#{lookingFor}')
        if (user.somethingElse)
          ul
            li Pokémon or items other than Vivillons

  if (logged_in)
    .left.ask
      p Ask #{user.ign} to add you
      br
      if (asked)
        p Asked!
      else
        form(action='/sendMessage' method='post')
          input(type='hidden' name='recipient' value='#{user.fc}')
          input(type='hidden' name='content' value='addme')
          button#addButton(type='submit') Add me!

    .right.sendMessage
      p Send #{user.ign} a message
      br
      form.sendMessageForm(action='/sendMessage' method='post')
        input(type='hidden' name='recipient' value='#{user.fc}')
        textarea#messageTextarea(name='content' placeholder='Hi!')
        button#sendButton(type='submit') Send