extends layout

block head
  link(rel='stylesheet' href='/stylesheets/user.css')
  script.
    var offeringList = !{JSON.stringify(offeringList)};
    var lookingForList = !{JSON.stringify(lookingForList)};

block content
  .userInfo
    .topbar
      .selfIgn= me.ign
      .selfFc= me.fc
      .selfNativePattern Native: #{me.nativePattern}
      a#logout(onclick="location.href ='/logout';") Logout
      a#update(onclick="location.href ='/update';") Update info
    .vivillonLists
      .userStatus.selfStatus
        p Status
        p= me.status
      hr
      .userOffering.selfOffering
        p Offering
        each offering in me.offering
          img(src='/images/#{offering}.png' title='#{offering}')
      hr
      .userLookingFor.selfLookingFor
        p Looking for
        if (me.lookingFor && me.lookingFor.length)
          script console.log('#{me.lookingFor}')
          each lookingFor in me.lookingFor
            img(src='/images/#{lookingFor}.png' title='#{lookingFor}')
        if (me.somethingElse)
          ul
            li Pokémon or items other than Vivillons
      
  .right.messageContainer
    select.messageSort
      option Date
      option User
    label Sort by
    h2.messagesTitle Messages
    .messageBox
      .DateMessages
        each message in messages
          if (message.toFc == me.fc)
              .message
                - var date = message.date.toString()
                - date = date.slice(date.indexOf(" ", 3), date.indexOf(" ", 8)).concat(", ", date.slice(date.indexOf(" ", 14), date.lastIndexOf(":")))
                .messageTime= date
                if (message.content == 'addme')
                  .addme.messageSubject <a href="/user/#{message.fromFc}"> #{message.fromIgn}</a> wants you to add them! <br> Fc: #{message.fromFc}
                else
                  .sentMessage.messageSubject <a href="/user/#{message.fromFc}">#{message.fromIgn}</a> sent you a message:
                  .messageContent= message.content
          else
            .message.messageFromMe
              - var date = message.date.toString()
              - date = date.slice(date.indexOf(" ", 3), date.indexOf(" ", 8)).concat(", ", date.slice(date.indexOf(" ", 14), date.lastIndexOf(":")))
              .messageTime= date
              if (message.content == 'addme')
                .addme.messageSubject You asked <a href="/user/#{message.toFc}">#{message.toIgn}</a> to add you.
              else
                .sentMessage.messageSubject You sent <a href="/user/#{message.toFc}">#{message.toIgn}</a> a message:
                .messageContent= message.content
      .UserMessages
        each array, key in byUserM
            div(class = key)
              if (array[0].fromIgn == me.ign)
                -var sender = array[0].toIgn
              else
                -var sender = array[0].fromIgn
              p.toggleSender= sender
              each message in array
                - var date = message.date.toString()
                - date = date.slice(date.indexOf(" ", 3), date.indexOf(" ", 8)).concat(", ", date.slice(date.indexOf(" ", 14), date.lastIndexOf(":")))
                if (message.toFc == me.fc)
                  .message
                    .messageTime= date
                    if (message.content == 'addme')
                      .addme.messageSubject <a href="/user/#{message.fromFc}"> #{message.fromIgn}</a> wants you to add them! <br> Fc: #{message.fromFc}
                    else
                      .sentMessage.messageSubject <a href="/user/#{message.fromFc}">#{message.fromIgn}</a> sent you a message:
                      .messageContent= message.content
                else
                  .message.messageFromMe
                    - var date = message.date.toString()
                    - date = date.slice(date.indexOf(" ", 3), date.indexOf(" ", 8)).concat(", ", date.slice(date.indexOf(" ", 14), date.lastIndexOf(":")))
                    .messageTime= date
                    if (message.content == 'addme')
                      .addme.messageSubject You asked <a href="/user/#{message.toFc}">#{message.toIgn}</a> to add you.
                    else
                      .sentMessage.messageSubject You sent <a href="/user/#{message.toFc}">#{message.toIgn}</a> a message:
                      .messageContent= message.content

            

      
  .left
    h3 People with Vivillons you want
    span.toggleVivillons Show irrelevant patterns
    .filterSelection Search for people that:
      span.labelSpan offer
      select.offeringSelection
        option All
        each offer in me.lookingFor
          option= offer
      span.labelSpan for
      select.lookingForSelection
        option All
        each offer in me.offering
          option= offer
    .noOffersFound No offers found with this combination!
    each user in users
      if (user.fc != me.fc)
        .userInfo.othersInfo(id='#{user.fc}')
          .topbar
            .userIgn
              a(href='/user/#{user.fc}')= user.ign
            .userFc= user.fc
            if (user.nativePattern)
              .userNativePattern Native: #{user.nativePattern}
          .vivillonLists
            if (user.status)
              .userStatus
                p Status
                p= user.status
              hr
            .userOffering
              p Offering
              each offering in user.offering
                if (me.lookingFor.indexOf(offering) != -1)
                  img.smallVivillon(src='/images/#{offering}.png' title='#{offering}')
                else
                  img.smallVivillon.irrelevant(src='/images/#{offering}.png' style='display: none;' title='#{offering}')
            hr
            .userLookingFor
              p Looking for
              if (user.lookingFor && user.lookingFor.length)
                each lookingFor in user.lookingFor
                  if (me.offering.indexOf(lookingFor) != -1)
                    img.smallVivillon(src='/images/#{lookingFor}.png' title='#{lookingFor}')
                  else
                    img.smallVivillon.irrelevant(src='/images/#{lookingFor}.png' style='display: none;' title='#{lookingFor}')
              if (user.somethingElse)
                ul
                  li Pokémon or items other than Vivillons

